@using ProjectUmico.Web.Helpers
@using ProjectUmico.Application.Contracts
@model ProjectUmico.Application.Common.Interfaces.IPageNavigationViewModel

@{
    int CurrentPage = Model.PageNumber;
    int PageSize = Model.PageSize;
    int TotalPages = Model.TotalPages;

    bool HasPrev = Model.HasPreviousPage;
    bool HasNext = Model.HasNextPage;

    List<int> pages = PaginationHelper.GivePagesArray(CurrentPage, PageSize, TotalPages).ToList();
}

<nav aria-label="...">
    <ul class="pagination">

        <li class="page-item @(HasPrev ? string.Empty : "disabled")">
            @Html.ActionLink("Previous", "Index", "Categories",
                new Dictionary<string, string>()
                {
                    {nameof(PaginationQuery.PageNumber), Convert.ToString(CurrentPage - 1)}
                }
                , htmlAttributes: new {@class = "page-link"})
            @* <a asp-action="Index" asp-route-page="@(CurrentPage - 1)" class="page-link" tabindex="-1">Previous</a> *@
        </li>
        @foreach (var i in pages)
        {
            <li class="page-item @(i == CurrentPage ? "active" : "")">
                @Html.ActionLink(Convert.ToString(i), "Index", "Categories",
                    new Dictionary<string, string>()
                    {
                        {nameof(PaginationQuery.PageNumber), Convert.ToString(i)}
                    }
                    , htmlAttributes: new {@class = "page-link"})
                @* <a class="page-link" asp-action="Index" asp-route-page="@i">@i</a> *@
            </li>
        }
        <li class="page-item @(HasNext ? string.Empty : "disabled") ">
            @Html.ActionLink("Next", "Index", "Categories",
                new Dictionary<string, string>()
                {
                    {nameof(PaginationQuery.PageNumber), Convert.ToString(CurrentPage + 1)}
                }
                , htmlAttributes: new {@class = "page-link"})

            @* <a class="page-link" asp-action="Index" asp-route-page="@(CurrentPage + 1)">Next</a> *@
        </li>
    </ul>
</nav>